Repository afnansyed/TV-show-navigator, pull requests merged in 2025-02, with the labels that each got.

#26 Testing sign-in button
  frontend/prototypes/frontpage-prototype/src/app/pages/sign-in/sign-in.component.html
Labels: frontend

#31 Created basic sign in elements in sign in page
  frontend/prototypes/frontpage-prototype/src/app/pages/sign-in/sign-in.component.html
  frontend/prototypes/frontpage-prototype/src/app/pages/sign-in/sign-in.component.scss
  frontend/prototypes/frontpage-prototype/src/app/pages/sign-in/sign-in.component.ts
Labels: frontend

#34 web page to sign up an account. route from homepage 'get started' button
  frontend/prototypes/frontpage-prototype/src/app/app.routes.ts
  frontend/prototypes/frontpage-prototype/src/app/auth/signup/signup.component.html
  frontend/prototypes/frontpage-prototype/src/app/auth/signup/signup.component.scss
  frontend/prototypes/frontpage-prototype/src/app/auth/signup/signup.component.ts
  frontend/prototypes/frontpage-prototype/src/app/components/hero/hero.component.html
  frontend/prototypes/frontpage-prototype/src/app/components/hero/hero.component.ts
Labels: frontend

#39 Add getShows query
  backend/api-structure.md
  backend/api.go
  backend/database-structure.md
Labels: backend

#40 Update apis
  .gitignore
  backend/.gitignore
  backend/api-structure.md
  backend/api.go
  backend/database-structure.md
Labels: feature, backend

#43 Added 'Episodes' Endpoints for lisitng all episodes of a given tv show
  backend/api.go
Labels: feature, backend

#46 complete documentating current api structure
  backend/api-structure.md
Labels: documentation, backend

#50 add more api documentation
  backend/api-structure.md
Labels: documentation, backend

#57 Added UI changes to tv show list page and watchlist page
  frontend/homepage/src/app/components/show-list/show-list.component.html
  frontend/homepage/src/app/components/show-list/show-list.component.spec.ts
  frontend/homepage/src/app/components/show-list/show-list.component.ts
  frontend/homepage/src/app/components/watchlist/watchlist.component.html
  frontend/homepage/src/app/components/watchlist/watchlist.component.ts
Labels: frontend

#71 Unit tests for hero and navbar components
  frontend/homepage/src/app/components/hero/hero.component.spec.ts
  frontend/homepage/src/app/components/navbar/navbar.component.spec.ts
Labels: frontend, testing
